.firstLetter{
    animation: fadeOut 5s infinite;
}




@keyframes fadeOut {
    0%, 20% {
        opacity: 1;
        font-weight: italic;

    }
    50% {
        opacity: 0;
        font-weight: bold;
    }


}